/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Montserrat&family=Passion+One&display=swap');

/* Global */

body, html {
    color: #111D2B;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

hr {
    background: linear-gradient(to bottom,  #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
    height: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

/* Background Image */
.game-wrapping {
    height: 100%;
}

#game-background-image {
    background-image: url(/assets/images/chaos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: -1;
}

/* Header */
h1 {
    font-family: 'Passion One', cursive;
    font-size: 320%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background: linear-gradient(to bottom,  #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    border-style: outset;
}

h2 {
    font-family: 'Heebo', cursive;
    text-transform: uppercase;
    font-size: 140%;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background: linear-gradient(to bottom,  #d5cea6 0%,#c9c190 40%,#b7ad70 100%);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-style: outset;
}

/* Selection Body */
.game-selection{
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    height: max-content;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction:column;
}

/* Board Body */
.game-board-content {
    text-align: center;
    visibility: hidden;
}

/* Values Body */
.game-values-content {
    font-family: 'Heebo', sans-serif;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    visibility: hidden;
}

.game-values-content > div {
    font-family: 'Heebo', sans-serif;
    width: max-content;
    height: max-content;
    color: black;
    background-color: whitesmoke;
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 5px;
    margin-top: 5px;
    border-style: outset;
}

#game-question-current {
    background-color: cornsilk;
}

/* Inputs & Labels */
.select_label {
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    background-color: whitesmoke;
    color: black;
    width: 200px;
    height: max-content;
    border-style: outset;
}

.title_label {
     text-align: center;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    background-color: whitesmoke;
    color: black;
    width: 230px;
    height: max-content;
    border-style: outset;  
    font-size: 150%;
    margin-bottom: 15px;
}

.cb_label {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    background-color: whitesmoke;
    color: black;
    width: 200px;
    height: max-content;
    border-style: outset;
    float: left;
    margin-top: 5px;
}

.quiz_button_create {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Passion One', sans-serif;
    font-size: 200%;
    padding-right: 15px;
    padding-left: 15px;
    background: whitesmoke;
    color: black;
    width: max-content;
    height: max-content;
    border-style: outset;
    float: left;
    margin-top: 50px;
    animation: quiz_button_animation_before 1s;
    animation-fill-mode: forwards; 
}

.quiz_button_create:hover {
    font-size: 210%;
    animation: quiz_button_animation_after 1s;
    animation-fill-mode: forwards; 
}

@keyframes quiz_button_animation_before {
    from {background-color: black; color: whitesmoke;}
    to {background-color: whitesmoke; color: black;}
 }

 @keyframes quiz_button_animation_after {
    from {background-color: whitesmoke; color: black;}
    to {background-color: black; color: whitesmoke;}

 }

select {
    cursor: inherit;
    line-height: inherit;
    border-style: outset;
    width: max-content;
    height: max-content;
    font-family: 'Heebo', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="text"] {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: inherit;
    border-style: outset;
}

input[type="checkbox"]{
    line-height: inherit;
}

/* Media */

@media (max-width: 480px) {
    h1 {
        height: fit-content;
        font-size: 200%;
    }
    h2 {
        height: fit-content;
        font-size: 80%;
    }
    .game-selection {
        margin-top: 100px;
    }
}
