/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Montserrat&family=Passion+One&display=swap');

/* Global */

body, html {
    color: #111D2B;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

/* Background Image */
.game-wrapping {
    height: 100%;
}

#game-background-image {
    background-image: url(/assets/images/game_background.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: -1;
}

/* Header */
h1 {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    border-style: outset;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}

/* Selection Body */
.game-selection {
    height: max-content;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction:column;
    top: 50%;
    left: 25%;
}

/* Board Body */
.game-board-content {
    text-align: center;
}

/* Values Body */
.game-values-content {
    font-family: 'Heebo', sans-serif;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.game-values-content > div {
    font-family: 'Heebo', sans-serif;
    width: max-content;
    height: max-content;
    color: black;
    background-color: whitesmoke;
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 5px;
    margin-top: 5px;
    border-style: outset;
}

#game-question-current {
    background-color: cornsilk;
}

/* Inputs & Labels */
label {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    background-color: whitesmoke;
    color: black;
    width: max-content;
    height: max-content;
    /* border */
    border-style: outset;
}

select {
    cursor: inherit;
    line-height: inherit;
    border-style: outset;
    width: max-content;
    height: max-content;
    font-family: 'Heebo', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="checkbox"]:checked {
    background-color: white;
    color: black;
}
